* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Segoe Fluent Icons;
    src: url(../fonts/Icons/SegoeFluentIcons.ttf);
}

/*Base de escala do site: 1920x1080px*/

:root {
    --widthNp: 800px;
    --heightNp: 600px;
    --spaceNp: 100px;
    --widthCalc: 400px;
    --heightCalc: 510px;
    --spaceCalc: 70px;
    --widthMusic: 500px;
    --heightMusic: 440px;
    --spaceMusic: 50px;
    --widthPopUps: 40%;
    --heightPopUps: 60%;
    --spacePopUpsLeft: 30%;
    --spacePopUpsTop: 20%;
    --headerSpacement: -40px;
    --radiusTopHeader: 0px 0px 8px 8px;
    --topHeader: 0;

    /*Pequeno, médio, grande e enorme*/
    --smallSearch: 40px;
    --mediumSearch: 60px;
    --largeSearch: 80px;
    --XLargeSearch: 120px;

    --smallSize: 15px;
    --mediumSize: 20px;
    --largeSize: 25px;
    --XLargeSize: 60px;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../img/Backgrounds/img1.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    transition-duration: .2s;
    color: black;
}

.charmsinfo h1 {
    margin: 10px 0;
}

.charmsinfo h2 {
    margin: 10px 0;
}

.charmsinfo h3 {
    margin: 10px 0;
}

.time {
    position: absolute;
    top: 10%;
    width: 20%;
    left: calc(50% - 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

#hour {
    font-size: 90px;
}

#day {
    font-size: 20px;
}

.search {
    position: absolute;
    top: 50%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 180px;
    height: 180px;
    background-image: url(../img/FavIcon/NewTab\ Icon.png);
    background-size: 80%;
    background-position: center;
    background-color: rgba(250, 250, 250, 0.3);
    background-repeat: no-repeat;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 20%;
    left: calc(50% - 90px);
    transition-duration: .2s;
}

.logo:active {
    background-size: 60%;
    filter: grayscale(100%);
}

.search input {
    width: 50%;
    height: var(--mediumSearch);
    border-radius: 120px;
    border: 2px solid #ccc;
    background-color: #eee;
    box-sizing: border-box;
    padding-left: 20px;
    color: black;
    font-size: var(--mediumSize);
    transition-duration: .2s;
}

.search input:focus {
    border: 2px solid #0078d4;
    outline: none;
}

.searchengine {
    width: var(--mediumSearch);
    height: var(--mediumSearch);
    box-sizing: border-box;
    margin: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

.google {
    background-image: url(../img/SearchEnginesIcons/Google.png);
    background-size: 80%;
    background-repeat: no-repeat;
}

.bing {
    background-image: url(../img/SearchEnginesIcons/Bing.png);
}

.lupe {
    background-image: url(../img/SearchEnginesIcons/SeacrhLupe.jfif);
    background-size: 80%;
    background-repeat: no-repeat;
}

.charms {
    display: flex;
    width: 15%;
    height: 100vh;
    background-color: #00000066;
    backdrop-filter: blur(20px);
    position: fixed;
    right: -14%;
    opacity: 1;
    transition-duration: .2s;
    transition-delay: .2s;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 999;
}

.charms:hover {
    opacity: 1;
    right: 0;
}

.lock {
    width: 100vw;
    height: 100vh;
    backdrop-filter: grayscale(100%) blur(15px);
    transition-duration: 1s;
    position: fixed;
    top: -110%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1001;
}

.lock input {
    width: 50%;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #ccc;
    background-color: #eee;
    box-sizing: border-box;
    padding-left: 20px;
    color: black;
    transition-duration: .2s;
}

.lock input:focus {
    border: 2px solid #444;
    outline: none;
}

.charmsicons {
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
}

.locki {
    background-image: url(../img/CharmsIcons/Lock.png);
}

.settingsi {
    background-image: url(../img/CharmsIcons/Settings.png);
}

.useri {
    background-image: url(../img/CharmsIcons/User.png);
}

.appsi {
    background-image: url(../img/CharmsIcons/Apps.png);
}

.reseti {
    background-image: url(../img/CharmsIcons/Reset.png);
}

.pincharms {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 1%;
    right: 1%;
    transition-duration: .3s;
}

.notPinned {
    background-image: url(../img/CharmsIcons/NotPinned.png);
}

.charmsPinned {
    background-image: url(../img/CharmsIcons/Pinned.png);
}

.reci {
    background-image: url(../img/CharmsIcons/Recomendation.png);
}

.charmsinfo {
    width: 25%;
    height: 100vh;
    position: fixed;
    right: -26%;
    background-color: #44444499;
    backdrop-filter: blur(20px);
    color: white;
    box-sizing: border-box;
    padding: 0 1%;
    transition-duration: .2s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
}

.charmsinfo h1 {
    margin: 15px 0;
    text-align: center;
}

.charmsinfo input[type='password'],
.charmsinfo input[type='text'] {
    border-radius: 5px;
    width: 60%;
    border: 2px solid #ccc;
    transition-duration: .4s;
    padding: 2px;
}

.charmsinfo input[type='password']:focus,
.charmsinfo input[type='text']:focus {
    border: 2px solid #444;
    outline: none;
}

.charmsinfo button {
    padding: 5px;
    border-radius: 4px;
    background-color: #ccc;
    border: 2px solid #aaa;
    margin: 10px 0;
    transition-duration: .2s;
}

.charmsinfo button:hover {
    background-color: #aaa;
}

.back {
    position: absolute;
    left: 4%;
    top: 2%;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/CharmsIcons/Back.png);
}

.charmsinfo input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 1px solid #777;
    background-color: #fff;
    border-radius: 100%;
    transition-duration: .1s;
}

.charmsinfo input[type="radio"]:checked {
    border: 4px solid #0078d4
}

.lock button {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #aaa;
    background-color: #ddd;
    margin: 10px 0;
    transition-duration: .2s;
}

.lock button:hover {
    background-color: #aaa;
}

.charmsinfo h2 {
    margin: 5px 0;
}

.charmsinfo .linkc {
    width: 90%;
    margin: 5px 0;
    transition-duration: .2s;
    border-radius: 4px;
    padding: 10px;
}

.charmsinfo .linkc:hover {
    background-color: #cccccc22;
}

.charmsinfo .links {

    color: white;
    text-decoration: none;
}

.charmsinfo ol {
    margin-left: 3%;
}

/*PopUp cores*/

.chooseColor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--widthPopUps);
    height: var(--heightPopUps);
    border-radius: 8px;
    flex-direction: column;
    background-color: #f0f0f0;
    left: var(--spacePopUpsLeft);
    position: absolute;
    top: var(--spacePopUpsTop);
    transform: scale(0);
}

.chooseColor h1 {
    position: absolute;
    top: 10px;
    color: black;
    text-align: center;
}

.chooseColor input {
    width: 70%;
    height: 100px;
    appearance: none;
    border: none;
    border-radius: 4px;
    padding: 3px;
    background: transparent;
    border-radius: 4px;
}

.chooseColor .bottomPopup {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #d5d5d5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chooseColor .bottomPopup button {
    margin: 0 2%;
    font-size: 20px;
    padding: 10px;
    background-color: #0078d4;
    border: 2px solid #0088ff;
    border-radius: 4px;
    color: #e0e0e0;
    transition-duration: .3s;
}

.chooseColor .bottomPopup button:hover {
    background-color: #0088ff;
    border: 2px solid #0088ff;
}

.leftPop {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPop label {
    position: absolute;
    left: 80px;
    width: 100px;
}

#closeThis {
    width: 60px;
    height: 30px;
    background-color: #999;
    border: 2px solid #888;
    border-radius: 20px;
    position: relative;
    transition-duration: .2s;
}

#closeThis::after {
    width: 24px;
    height: 24px;
    content: '';
    background-color: #888;
    border: 2px solid #777;
    box-sizing: border-box;
    position: absolute;
    left: 1px;
    border-radius: 100%;
    top: 1px;
    transition-duration: .2s;
}

#closeThis:checked {
    background-color: #0088ff;
    border: 2px solid #0078d4;
}

#closeThis:checked::after {
    background-color: #0632ff;
    border: 2px solid #0120a8;
    left: 30px;
}

.notepad {
    width: var(--widthNp);
    height: var(--heightNp);
    background-color: #f0f0f0;
    position: absolute;
    left: var(--spaceNp);
    top: var(--spaceNp);
    border-radius: var(--radiusTopHeader);
    box-shadow: 2px 2px 20px 2px #191919;
    
}

.notepad .header {
    width: 100%;
    position: absolute;
    top: var(--headerSpacement);
    height: 40px;
    background-color: rgba(250, 250, 250, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.header p {
    position: absolute;
    left: 10px;
    color: black;
}

.appButtons {
    width: 40px;
    height: 40px;
    transition-duration: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.appButtons img {
    width: 20px;
    height: 20px;
    transition-duration: .2s;
}

.appButtons:hover {
    background-color: #80808066;
    color: white;
}

.appButtons:hover img {
    filter: invert(100%);
}

.close {
    border-top-right-radius: 8px;
}

.close:hover {
    background-color: #ff000066;
    color: white;
}

.notepad textarea {
    width: calc(100% - 40px);
    position: absolute;
    left: 20px;
    height: calc(100% - 20px);
    border: none;
    background-color: transparent;
    resize: none;
    top: 10px;
    font-size: 16px;
    margin-top: var(--topHeader);
}

.notepad textarea:focus {
    outline: none;
}

.appHided {
    width: 8%;
    height: 30px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 8px 8px 0 0;
    backdrop-filter: blur(20px);
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    color: black;
    cursor: progress;
}

.appHided:hover {
    background-color: rgba(250, 250, 250, 1);
}

.notepadHide {
    left: 0;
}

.calcHide {
    left: calc(8% + 10px);
}

.mpHide {
    left: calc((8% + 8% + 10px) + 10px);
    width: 12%;
}

.calc {
    width: var(--widthCalc);
    height: var(--heightCalc);
    background-color: #f0f0f0;
    position: absolute;
    left: var(--spaceCalc);
    top: var(--spaceCalc);
    border-radius: var(--radiusTopHeader);
    box-shadow: 2px 2px 20px 2px #191919;
    padding-top: var(--topHeader);
}

.calc .header {
    width: 100%;
    position: absolute;
    top: var(--headerSpacement);
    height: 40px;
    background-color: rgba(250, 250, 250, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculator__display {
    width: 100%;
    height: 100px;
    border-radius: 0 0 15px 15px;
    display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    justify-content: flex-end;
    align-items: center;
    background-color: #cee8ff;
    font-size: 25px;
}

.calcKeys {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 8fr);
}

.key--operator {
    margin-top: 5px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 8px;
    border: 1px solid #cee8ff;
    font-size: 50px;
    transition-duration: .2s;
}

.calcKeys button {
    height: 80px;
    background-color: aliceblue;
    border-radius: 8px;
    border: 1px solid #cee8ff;
    font-size: 30px;
    transition-duration: .2s;
}

.key--operator:hover {
    background-color: #cee8ff;
}

.calcKeys button:hover {
    background-color: #cee8ff;
}

.calcKeys button:active {
    background-color: #93ccff;
}

.calcKeys .key--equal {
    background-color: #fe886a;
    grid-column: -2;
    grid-row: 2 /span 4;
    height: 322px;
    transition-duration: .2s;
}

.calcKeys .key--equal:hover {
    background-color: orangered;
}

.calcKeys .key--equal:active {
    background-color: orange;
}

.screenSaver {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1010;
    background-color: #000;
    display: none;
}

/*Animação da proteção de tela*/

@keyframes circle1Path {
    0% {
        transform: translate(0vw, 0vh);
        width: 30vw;
        height: 30vw;
    }

    100% {
        transform: translate(0vw, -35vh);
        width: 80vw;
        height: 80vw;
    }
}

@keyframes circle2Path {
    0% {
        transform: translate(0vw, 0vh);
        width: 20vw;
        height: 20vw;
    }

    100% {
        transform: translate(-45vw, -40vh);
        width: 80vw;
        height: 80vw;
    }
}

@keyframes circle3Path {
    0% {
        transform: translate(0vw, 0vh);
        width: 20vw;
        height: 20vw;
    }

    100% {
        transform: translate(-55vw, -80vh);
        width: 120vw;
        height: 120vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

@keyframes fadeCircleIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.circle1 {
    left: 30vw;
    top: 25vh;
    position: absolute;
    animation: circle1Path 12s infinite, fadeCircleIn 1332ms ease-out;
    animation-direction: alternate;
    border-radius: 100vw;
    background: radial-gradient(50% 50% at 50% 50%, rgba(12, 119, 255, 0.3) 15.62%, rgba(12, 119, 255, 0) 100%);
}

.circle2 {
    left: 45vw;
    top: 30vh;
    position: absolute;
    animation: circle2Path 11.5s infinite, fadeCircleIn 1332ms ease-out;
    animation-direction: alternate;
    border-radius: 100vw;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 56, 255, 0.3) 15.62%, rgba(12, 119, 255, 0) 100%);
}

.circle3 {
    left: 35vw;
    top: 30vh;
    position: absolute;
    animation: circle3Path 15s infinite, fadeCircleIn 1332ms ease-out;
    animation-direction: alternate;
    border-radius: 100vw;
    background: radial-gradient(50% 50% at 50% 50%, rgba(65, 56, 210, 0.5) 15.62%, rgba(65, 56, 210, 0) 100%);
}

/*Fim animação*/

.alignAcessButtons {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blackClock {
    width: 50px;
    height: 50px;
    background: #000;
    margin: 5px;
    border: 2px solid #444;
    border-radius: 8px;
}

.whiteClock {
    width: 50px;
    height: 50px;
    background: #fff;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

/*PopUp gradiente*/

.chooseGradient {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--widthPopUps);
    height: var(--heightPopUps);
    border-radius: 8px;
    flex-direction: column;
    background-color: #f0f0f0;
    left: var(--spacePopUpsLeft);
    position: absolute;
    top: var(--spacePopUpsTop);
    transform: scale(0);
}

.chooseGradient h1 {
    position: absolute;
    top: 10px;
    color: black;
    text-align: center;
}

.chooseGradient input {
    width: 70%;
    height: 100px;
    appearance: none;
    border: none;
    border-radius: 4px;
    padding: 3px;
    background: transparent;
    border-radius: 4px;
}

.chooseGradient .bottomPopup {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #d5d5d5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chooseGradient .bottomPopup button {
    margin: 0 2%;
    font-size: 20px;
    padding: 10px;
    background-color: #0078d4;
    border: 2px solid #0088ff;
    border-radius: 4px;
    color: #e0e0e0;
    transition-duration: .3s;
}

.chooseGradient .bottomPopup button:hover {
    background-color: #0088ff;
    border: 2px solid #0088ff;
}

#closeThisGd {
    width: 60px;
    height: 30px;
    background-color: #999;
    border: 2px solid #888;
    border-radius: 20px;
    position: relative;
    transition-duration: .2s;
}

#closeThisGd::after {
    width: 24px;
    height: 24px;
    content: '';
    background-color: #888;
    border: 2px solid #777;
    box-sizing: border-box;
    position: absolute;
    left: 1px;
    border-radius: 100%;
    top: 1px;
    transition-duration: .2s;
}

#closeThisGd:checked {
    background-color: #0088ff;
    border: 2px solid #0078d4;
}

#closeThisGd:checked::after {
    background-color: #0632ff;
    border: 2px solid #0120a8;
    left: 30px;
}

.alignAcessButtonsColors {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.helpWithCharms {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 1%;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(../img/OtherIcons/HelpCharms.png);
    backdrop-filter: blur(20px);
    transition-duration: .2s;
}

/*PopUp imagem*/

.chooseImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--widthPopUps);
    height: var(--heightPopUps);
    border-radius: 8px;
    flex-direction: column;
    background-color: #f0f0f0;
    left: var(--spacePopUpsLeft);
    position: absolute;
    top: var(--spacePopUpsTop);
    transform: scale(0);
    color: black;
}

.chooseImage h1 {
    position: absolute;
    top: 10px;
    color: black;
    text-align: center;
}

.chooseImage .bottomPopup {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #d5d5d5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chooseImage .bottomPopup button {
    margin: 0 2%;
    font-size: 20px;
    padding: 10px;
    background-color: #0078d4;
    border: 2px solid #0088ff;
    border-radius: 4px;
    color: #e0e0e0;
    transition-duration: .3s;
}

.chooseImage .bottomPopup button:hover {
    background-color: #0088ff;
    border: 2px solid #0088ff;
}

#closeThisImg {
    appearance: none;
    width: 60px;
    height: 30px;
    background-color: #999;
    border: 2px solid #888;
    border-radius: 20px;
    position: relative;
    transition-duration: .2s;
}

#closeThisImg::after {
    width: 24px;
    height: 24px;
    content: '';
    background-color: #888;
    border: 2px solid #777;
    box-sizing: border-box;
    position: absolute;
    left: 1px;
    border-radius: 100%;
    top: 1px;
    transition-duration: .2s;
}

#closeThisImg:checked {
    background-color: #0088ff;
    border: 2px solid #0078d4;
}

#closeThisImg:checked::after {
    background-color: #0632ff;
    border: 2px solid #0120a8;
    left: 30px;
}

.imagePreview {
    width: 300px;
    height: 168px;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}

.alignImageChoose {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.imageInput {
    display: none;
}

.labelImage {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #0088ff;
    background-color: #0078d4;
    color: white;
}

.alignNames {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.charmsinfo input[type="checkbox"] {
    appearance: none;
    width: 30px;
    height: 15px;
    border-radius: 120px;
    border: 2px solid #ccc;
    background: #fff;
    transition-duration: .2s;
    position: relative;
}

.charmsinfo input[type="checkbox"]:checked {
    border: 2px solid #0088ff;
    background-color: #0078d4;
}

.charmsinfo input[type="checkbox"]::after {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 1px;
    border-radius: 100%;
    background-color: #999;
    content: '';
    transition-duration: .2s;
}

.charmsinfo input[type="checkbox"]:checked::after {
    background-color: #0120a8;
    left: 14px;
}

.music {
    width: var(--widthMusic);
    height: var(--heightMusic);
    background-color: #f0f0f077;
    position: absolute;
    left: var(--spaceMusic);
    top: var(--spaceMusic);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 2px 2px 20px 2px #191919;
    backdrop-filter: blur(20px);
    padding-top: 40px;
    color: black;
    transform: scale(0);
}

.music .header {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 40px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nameandcover {
    width: 100%;
    height: calc(100% - 20%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.nameandcover img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.nameandcover p {
    text-align: center;
}


.music label {
    padding: 5px;
    border-radius: 4px;
    background-color: #0088ff;
    border: 2px solid #0078d4;
    transition-duration: .2s;
    color: white;
}

.music label:hover {
    background-color: #0078d4;
}

.player {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.volume {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    position: absolute;
    left: 10px;
}

.volume input {
    width: 80px;
}

.playerIcons {
    font-family: Segoe Fluent Icons;
}

.simpleB {
    font-size: 20px;
    margin: 0 20px;
}

.playB {
    font-size: 35px;

}

.songTime {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: absolute;
    top: 0;
}

.player input {
    appearance: none;
    height: 15px;
    border-radius: 100px;
    background-color: #f0f0f0;
    overflow: hidden;
}

.player input::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 3px solid #0632ff;
    background-color: #f0f0f0;
    border-radius: 100%;
    box-shadow: -1005px 0px 0px 1000px #0632ff;
}

.timeSong {
    width: 80%
}

.charmsinfo::-webkit-scrollbar {
    appearance: none;
}

.charmsinfo::-webkit-scrollbar-thumb {
    appearance: none;
    border-radius: 100px;
    background-color: #0078d477;
}

.openMobileCharms {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.openMobileCharms .lines {
    width: 60%;
    height: 3px;
    background-color: aliceblue;
    margin: 10px 0;
}

.closeMobileCharms {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.closeMobileCharms .lines {
    width: 60%;
    height: 3px;
    background-color: aliceblue;
    position: absolute;
}

#ltr {
    transform: rotate(45deg);
}

#rtl {
    transform: rotate(135deg);
}

/*Início Responsividade*/

@media (max-height: 780px) {
    .logo {
        bottom: 15%;
        width: 130px;
        height: 130px;
        left: calc(50% - 65px)
    }

    :root {
        --spaceNp: 50px;
        --widthNp: 600px;
        --heightNp: 400px;

        --smallSearch: 30px;
        --mediumSearch: 40px;
        --largeSearch: 60px;
        --XLargeSearch: 80px;

        --smallSize: 10px;
        --mediumSize: 15px;
        --largeSize: 25px;
        --XLargeSize: 50px;

        --widthPopUps: 60%;
        --heightPopUps: 90%;
        --spacePopUpsLeft: 20%;
        --spacePopUpsTop: 5%;
    }

    h1 {
        font-size: 30px;
    }

    .back {
        width: 35px;
        height: 35px;
        top: 3%;
    }

    .charmsicons {
        width: 90px;
        height: 90px;
    }

    #hour {
        font-size: 70px;
    }

    #day {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .openMobileCharms {
        display: flex;
    }

    .closeMobileCharms {
        display: flex;
    }

    .charms {
        right: -101%;
        width: 100vw;
    }

    .charmsinfo {
        width: 100vw;
        right: -101%;
    }

    .resetPosition {
        display: none;
    }

    :root {
        --widthNp: 100vw;
        --heightNp: 100vh;
        --spaceNp: 0;
        --widthCalc: 100vw;
        --heightCalc: 100vh;
        --spaceCalc: 0;
        --widthMusic: 100vw;
        --heightMusic: 100vh;
        --spaceMusic: 0;
        --widthPopUps: 100vw;
        --heightPopUps: 100vh;
        --spacePopUpsLeft: 0;
        --spacePopUpsTop: 0;
        --headerSpacement: 0;
        --radiusTopHeader: 8px;
        --topHeader: 40px;
    }

    .calcKeys {
        grid-template-rows: 100px
    }

    .time {
        width: 90%;
        left: 5%;
    }

    .helpWithCharms {
        display: none;
    }

    .logo {
        bottom: 10%;
    }

    .maxandmin {
        display: none;
    }

    .charmsicons {
        width: 180px;
        height: 180px;
    }

    .mpHide {
        width: 30%;
        left: calc(100% - 30%);
    }

    .notepadHide {
        width: 30%;
        left: 0;
    }

    .calcHide {
        width: 30%;
        left: calc(50% - 15%)
    }
}

@media (max-width: 450px) {
    .buttonsSize {
        display: none;
    }

    .charmsicons {
        width: 80px;
        height: 80px;
    }

    .mpHide {
        font-size: 13px;
        text-align: center;
    }
}